body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.map {
  display: flex;
  flex-wrap: wrap;
}
.tile {
  background-image: url("./tileset.png");
  background-size: 608px 1440px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
#tile1 {
  background-position-x: 476px;
  background-position-y: 0;
}
#tile2 {
  /*background-position-x: -48px;
  background-position-y: 336px;*/
  background-color: blue;
}
#tile3 {
  background-position-x: -224px;
  background-position-y: 1056px;
}
#tile4 {
  background-color: darkgoldenrod;
}
#tile5 {
  background-color: olivedrab;
}
#tile6 {
  background-color: grey;
}
#tile7 {
  background-position-x: -386px;
  background-position-y: 1330px;
}
#tile8 {
  background-position-x: -386px;
  background-position-y: 1292px;
}
#tile9 {
  background-position-x: -256px;
  background-position-y: 1280px;
}
#tile10 {
  background-position-x: -98px;
  background-position-y: 1280px;
}
#tile11 {
  background-position-x: -352px;
  background-position-y: 1376px;
}
#tile12 {
  background-position-x: -154px;
  background-position-y: 1310px;
}
#tile13 {
  background-position-x: -98px;
  background-position-y: 1250px;
}

#tile14 {
  background-position-x: -154px;
  background-position-y: 1250px;
}
